
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					<li class="nav-item">
                        <a target="_blank" rel="noopener" 
                           href="http://127.0.0.1:8000/" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-layers"></i></span><span class="pcoded-mtext">Dashboard</span></a>
					</li>
					<li class="nav-item">
					    <a href="http://127.0.0.1:8000/empresas/" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">Empresas</span></a>
					</li>
					<li class="nav-item pcoded-hasmenu">
					    <a href="https://127.0.0.1:8000/campanas/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Campañas</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="/layout-vertical.html" target="_blank">Vertical</a></li>
					        <li><a href="/layout-horizontal.html" target="_blank">Horizontal</a></li>
					    </ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
