<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Actualizar Perfil</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
        
</head>
<body>

    <div class="main">

        <h1>Actualizar perfil</h1>
        <div class="container">
            <div class="sign-up-content">
                <form method="POST" class="signup-form"  name="signup-form">
                    <div class="form-textbox">
                        <label for="name">Nombre</label>
                        <input type="text" name="name" id="name" required/>
                    </div>

                    <div class="form-textbox">
                        <label for="email">Nombre de <br> usuario</label>
                        <input type="text" name="email" id="email" required/>
                    </div>
                    
                    <div class="form-textbox">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password" required/>
                    </div>
                    
                    <div class="form-textbox">              
                        <label for="confirm_password">Confirmar <br> contraseña <br> </label>                        
                        <input type="password" name="confirm_password" id="confirm_password" required>                          
                    </div>                   
                    <label name= "espacio"><br></label>
                    <br>
                    <br>
                    <div class="form-buttom">                        
                        <input type="submit"  name="submit" id="submit" class="submit" value="Actualizar perfil"/>                 
                    </div>
                </form>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>